body{
    display: flex;
}

.sidenav {
    background-color: #111;
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
}

.sidenav li {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    cursor: pointer;
}

.sidenav li:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 200px;
    padding: 0px 10px;
    text-decoration: none;
    font-size: 25px;
    width: 100%;
}

.money {
    text-decoration: none;
    font-size: 25px;
    border-radius: 15px;
    padding: 10px;
    transition-duration: 0.2s;
    margin: 20px;
    
}

.inptable {
    font-size: 25px;
    width: 60%;
    border-radius: 15px;
    padding-left: 10px;
}

.vol .cupure {
    width: 200px;
}

button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.body {
    margin-top: 25px;
}

.bodycontent{
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    margin-top: 20px;
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    border: 5px groove #ccc; /* Рамка вокруг таблицы */
}

.inject{
    margin-top: 0px;
}

.coin-parent{
    vertical-align: top;
}

th{
    background: #4b0082; /* Цвет фона */
    color: #fffff0; /* Цвет текста */
}

td, th {
    padding: 2px; /* Поля вокруг содержимого ячеек */
    border: 3px groove #ccc /* Граница между ячейками */
   }


.delete {
    text-decoration: none;
    font-size: 15px;
    border-radius: 15px;
    padding: 5px;
    transition-duration: 0.2s;
}